.card_title{
    margin-left: -8%;
    margin-top: 2%;

    font-size: 18px;
    font-weight: bold;

    width: 80%;
    height: 15%;
    
    padding: 1%;

    align-items: center;

    border-style: none;
    background-color: white;

    transition: ease all 0.5s;
    outline: none;
    cursor: pointer;
}

.card_title:hover{
    transform: scaleX(1.1);
    color: #D60000;
    text-decoration: none;
}

.card_title a:hover{
    text-decoration: none;
}

.card_title img{
    width: 15%;
    margin-right: 8%;
}

.card_image{
    margin-left: 2%;

    margin-top: 0%;
    margin-left: 20%;
    
    font-size: 18px;
    font-weight: bold;

    display: flex;

    width: 65%;
    height: 80%;
   
    padding: 1%;

    align-items: center;

    border-style: none;
    box-shadow: 0px -2px 2px 0px rgba(171, 170, 170, 0.34);

    transition: ease all 0.5s;
    outline: none;
    cursor: pointer;
}

.card_image img{
    display: flex;
    width: 100%;
}

