.coletivo_main{
    margin: 0px 19.5%;
}

.row{
    margin: 2%;
}

.LimitWidth {
    max-width: 29%;
    margin-left: 1.8%;
    margin-right: 3%;
}

.Espaco{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}

.Espaco h3{
    margin-left: 8%;
}

.EspacoPersonalizado{
    display: flex;
    flex-direction: row;
    margin-top: 3.8%;
}

.EspacoPersonalizado h3{
    margin-left: 3%;
}

.coletivoBanner {
    background-image: url('https://static.wixstatic.com/media/8b4bc0_c41ed87641a64271b488350d234e0c41~mv2.png/v1/fill/w_1291,h_284,al_c,q_90/8b4bc0_c41ed87641a64271b488350d234e0c41~mv2.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 303px;
    display: block;
}

.coletivo_main_title{
    display: flex;
    flex-direction: row;
}

.coletivo_main h1{
    justify-content: right;
    
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}

.coletivo_main_title h2{
   margin-top: 0.3%;

   font-size: 20px;

   font-weight: bold;
   font-size: 20px;
   color: #333333;
}

.coletivo_main h3{
    font-size: 20px;
 
    font-size: 20px;
    color: #333333;
 }

.ColetivoSobre_main{
    font-kerning: normal;
    font-size: 20px ;
   
    word-break: normal;
    
    color: #1b1b1b;
    margin-top: 6%;
   
    text-align: justify;
    line-height: 31px;
}

.ColetivoGaleria_main{
    margin-top: 10%;
}

.ColetivosLinks_main{
    margin-top: 10%;
    margin-bottom: 7%;
}

.Participantes_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    font-size: 18px;
    color: #333333;
}

.NomesParticipantes{
   padding: 10px 10px 4px 0px;
}

.c_buttonBody button{
   width: 2.5%;
   height: 2.5%;

   padding: 0%;

   border-style: none;
   background: none;

   transition: 0.5s;
   outline: none;
   cursor: pointer;
}

.c_buttonBody button img{
    display: flex;
    width: 20px;
 }

.c_buttonBody button:hover{
     width: 3%;
     /* background-image: url(); */
 }

.c_buttonBack button{
    width: 60%;
    
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    
    padding: 0%;
 
    border-style: none;
    background: none;
}

.c_buttonBack img{
    width: 8%;
    margin-right: 4%;
    margin-bottom: 2%;
}

.c_buttonBack h1{
    font-size: 16px;
}