.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

hr {
    display: flex;
    justify-content: center;

    height: 1px;
    width: 80%;
    background-color: black;
}

.artista_banner img {
    width: 100%;
    min-height: 303px;
}

.artista_main {
    margin: 0 10%;
}

.artista_body1 {
    margin: 2% 0;
}

.P_foto {
    width: 25%;
}

.P_foto img {
    border-style: none;
    background-color: white;
    box-shadow: 0px -2px 2px 0px rgba(171, 170, 170, 0.34);
    border-radius: 5%;
    width: 80%;
}

.artista_main h1 {
    justify-content: flex-start;
    
    font-weight: bold;
    font-size: 24px;
    color: #333333;

    margin: 0px;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

.Info_main {
    margin-top: 10px;
    width: 50%;
    
    align-items: center;
}

.Info_main h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    font-weight: bold;
    font-size: 24px;
    color: #333333;

    margin-bottom: 10%;
}

.Info_main h3 {
    justify-content: flex-start;
    
    font-size: 16px;
    color: #333333;
}

.Links_main {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.border_links {
    border: 1px lightgray solid;
    border-radius: 20px;
}

.navegacao_artista {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.navegacao_artista img {
    width: 20px;
}

.navegacao_outro_artista {
    padding: 20px;
    margin: 30px 0;
}

.detalhes_academicos {
    padding: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    
    margin-top: 6%;
    margin-left: 10%;
}

.linkImg {
    max-width: 20px;
}

.Links_main button {
   display: flex;
   flex-direction: row;
   
   width: 7%;
   height: 7%;

   margin: 0%;
   padding: 0%;

   border-style: none;
   background: none;

   transition: 0.5s;
   outline: none;
   cursor: pointer;
}

.Links_main button img {
    display: flex;
    width: 100%;
 }

 .Links_main button:hover {
     width: 8%;
 }

.Links_main h3 {
    margin: 0%;

    font-size: 16px;
    color: #333333;
 }

.Links_main h2 {
    display: flex;
    justify-content: center;

    margin: 0%;
    margin-bottom: 2%;

    font-size: 18px;
    color: #333333;
 }

 .SocialMedia a {
    color: #222222;
    font-size: 16px;
}

.AtalhodeNavegacao {
    display: flex;
    justify-content: space-around;
    
    margin: 0;

    width: 100%;
}

.AtalhodeNavegacao button {
    width: 8%;

    transition: 0.5s;
    outline: none;
    cursor: pointer;
}

.AtalhodeNavegacao button:hover {
    width: 9%;
}

.Biografia_main {
    margin-top: 5%;
}

.Biografia_main h1 {
    margin-bottom: 2%;
}

.Biografia_main p {
    font-kerning: normal;
    font-size: 20px;
   
    word-break: normal;
    
    color: #1b1b1b;
    margin:0px;
   
    text-align: justify;
    line-height: 31px;
}

.Carrossel_Artistas {
    margin-top: 5%;
}

.buttonNext {
    margin-top: 4%;
}

.buttonNext button {   
   width: 60%;

   font-weight: bold;
   font-size: 16px;
   color: #333333;

   margin-left: 42%;
   padding: 0%;

   border-style: none;
   background: none;
}

.buttonNext img {
    width: 5%;
}

.buttonNext h1 {
    font-size: 16px;
}

.entrevistas_site {
    margin-top: 5%;
}