.abc_filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    
    padding-top: 3%;
    padding-left: 2%;
}

.abc_filter button{
    font-family: 'lucida sans unicode';
    font-weight: bold;
    font-size: 15px;

    margin: 0.67%;
    
    border-style: none;
    background-color: white;
    box-shadow: 0px -2px 2px 0px rgba(171, 170, 170, 0.34);

    transition: 0.6s;
    outline: none;
    cursor: pointer;
}

.abc_filter button:hover{
    color: #D60000;
    transform: scaleY(1);
    transform: scaleX(1);
}

.artistas_main{
    display: flex;
    flex-direction:column;

    align-items: center;
    justify-content: center;

    margin: 10% 13% 0px 15%;
}

/*.model_card{
    display: flex;
    flex-direction: row;
    
    margin: 0% 0% 0% 0%;
    padding: 0%;
}*/