.loading_all {
    max-width: 1024px;

    display: flex;
    justify-content: center;

    margin: 50px auto;
}

.artistas_main {
    margin: 115px auto;
    max-width: 1024px;
}

.artistas_main p {
    font-size: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
}