.Pesquisadores_main{
    margin: 0px 22.5%;
}

.Pesquisadores_main img{
    margin-top: 0%;
    
    font-size: 18px;
    font-weight: bold;

    display: flex;

    width: 30%;
    height: 80%;
   
    padding: 1%;

    align-items: center;

    border-style: none;
    box-shadow: 0px -2px 2px 0px rgba(171, 170, 170, 0.34);

    transition: 0.6s;
    outline: none;
    cursor: pointer;
}

.Pesquisadores_main_title h2{
   margin-top: 0.3%;

   font-size: 20px;

   font-family: 'lucida sans unicode';
   font-weight: bold;
   font-size: 20px;
   color: #333333;
}

.Pesquisadores_main h1{
    justify-content: right;
    
    font-family: 'lucida sans unicode';
    font-weight: bold;
    font-size: 20px;
    color: #333333;

    margin: 0px;
    margin-bottom: 2%;
}

.Pesquisadores_main p{
    justify-content: right;
    
    font-family: 'lucida sans unicode';
    font-size: 18px;
    color: #333333;

    margin: 0px;
    margin-bottom: 2%;
}

.Coordenador_main{
    margin-top: 8%;
}

.Pesquisadores_card{
    display: flex;
    flex-direction: row;

    border-style: none;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px -1px 2px 0px rgba(171, 170, 170, 0.34);

    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 0%;
    padding-top: 2%;

    margin-bottom: 2%;
}

.Pesquisadores_buttonBody button{
   width: 2.5%;
   height: 2.5%;

   padding: 0%;

   border-style: none;
   background: none;

   transition: 0.5s;
   outline: none;
   cursor: pointer;
}

.Pesquisadores_buttonBody button img{
    display: flex;
    height: 30px;
 }

.Pesquisadores_buttonBody button:hover{
     width: 3%;
 }