ul, li, p {
	list-style: none;
	font-family: Arial;
}

a {
	text-decoration: none;
	color: white;
}

.container_ {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-top: 3%;
	
	border-bottom: 10px solid #D60000;
}

.logos {
	position: relative;
	width: 160px;
}

#logo, #logo2 {
	position: absolute;
	width: 160px;
}

a #logo2 {
	display: none;
}

a:hover #logo {
	animation-delay: 0.1s;
	animation: logoanimation 0.3s ease-out forwards;
}

a:hover #logo2 {
	display: block;
}

@keyframes logoanimation {
	from {
		opacity: 100%;
		transform: translateX(-10px);
	}

	to {
		opacity: 0%;
		display: none;
		transform: translateX(-53px);
	}
}

.social_media {
	margin: 0 25px;
	width: 160px;
	display: flex;
	justify-content: space-evenly;
}

#fb, #insta {
	font-size: 25px;
	transition: translateY 1s;
	color: black;
}

#fb:hover, #insta:hover {
	transform: translateY(-5px);
}

/*Menu*/
#menu_header {
	display: flex;
	justify-content: center;
	padding-bottom: 0%;
	margin-bottom: 0%;
}

#menu_header li a {
	font-size: 14px;

	display: block;
	text-align: center;

	padding: 0 18px;
	
	color: #333333;
}

#menu_header ul li {
	visibility: hidden;
}

#menu_header li:hover li {
	visibility: visible;
}

#menu_header a:hover {
	color: #D60000;
	text-decoration: none;
}

#menu_header ul ul li {
	float: none;
	border-bottom: solid 1px #ccc;
}

#menu_header ul li a {
	background-color: white;
	text-align: center;
	padding: 7px;
	margin: 0px;
	box-shadow: 2px 0px 1px rgba(50, 50, 50, 0.77);
}
