.artista_banner {
    background-image: url(https://static.wixstatic.com/media/8b4bc0_66bdf6e9fd124f7ba3bfe41d3dcf60cf~mv2.jpg/v1/fill/w_1583,h_320,al_c,q_85,usm_0.66_1.00_0.01/8b4bc0_66bdf6e9fd124f7ba3bfe41d3dcf60cf~mv2.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 303px;
    display: block;
}


.artista_main{
    margin: 0px 19.5%;
}

.artista_main h1{
    justify-content: right;
    
    font-family: 'lucida sans unicode';
    font-weight: bold;
    font-size: 24px;
    color: #333333;

    margin: 0px;
    margin-top: 1%;
    margin-bottom: 1%;
}