.card_label {
    display: flex;
    flex-direction: column;
}

.card_title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    height: 15%;
    padding-bottom: 8px;

    color: black;
    transition: ease all 0.5s;
    outline: none;
    cursor: pointer;
}

.card_title:hover {
    transform: scaleX(1.02);
    color: #D60000;
    text-decoration: none;
}

.card_deactivated {
    font-size: 18px;
    font-weight: bold;
    height: 15%;
    padding-bottom: 8px;

    color: #333;
    cursor: pointer;
}

.card_container {
    margin-bottom: 60px;
}

.card_container a:hover {
    text-decoration: none;
    color: #D60000;
}


.card_title_img {
    width: 15%;
    margin: 0 3%;
}

.card_image {
    margin-left: 20%;

    display: flex;

    width: 65%;
    height: 80%;

    border-style: none;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.45);
    border-radius: 5px;

    transition: ease all 0.5s;
    outline: none;
    cursor: pointer;
}

.card_image img {
    display: flex;
    width: 100%;
}