

.faixa{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    margin-top: 5%;
    width: 100%;
    height: 45px;
}

.logo_footer{
	width: 160px;
}
.logo2_footer{
	width: 160px;
}

a .logo2_footer{
	display: none;
}

a:hover .logo2_footer{
	display: block;
}

a:hover .logo_footer{
	display: none;
} 

.footer_main{
    display: flex;
    height: 90px;
    flex-direction: row;
   
    margin: 0px 19.5%;
    margin-top: 52px;;
    background-color: white;
}

#ufrj{
	width: 204px;
	padding-right: 52px;
}

#eba{
	width: 141px;
	padding-right: 45px;
}

#menu_footer{
    display: flex;
    justify-content: center;
    margin-left: 0%;
	margin-top: 6%;
    padding: 0px;
    padding-left: 12px;
}

#menu_footer li a{
    font-family: 'lucida sans unicode';
    font-size: 90px;
    display: block;
    padding: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
	color:#333333;
	text-align: center;
}

#menu_footer a:hover{
	color:  #D60000;
}

.hr_main{
    margin: 0px 19.5%;
    display: flex;
    flex-direction: column;
}

.hr_main hr{
    display: flex;
    height: 1px;
    width: 100%;
    border: none;
    color: black;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.hr_main p{
    justify-self: center;
    align-self: center;
    font-family: 'lucida sans unicode';
    font-size: 12px;
    margin: 10px;
    color: #949494;
}