.slider {
    display: flex;
    padding-top: 2%;
    overflow: hidden;
    position: relative;
    max-height: 600px;
    width: 100%;
}

.slide {
    position: relative;
    min-width: 100%;
    max-height: 100%;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide img {
    max-width: 100%;
    padding: 0 1px;
}

.subtitle {
    background-color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    transform: translateY(30%);
    max-width: 80%;
}

#goLeft {
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
    background: none;
    transition: 0.5s;
    border: none;
    outline: none;
    transition: 0.5s;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#goLeft:hover {
    background: rgba(255, 255, 255, 0.356);
    cursor: pointer;
    color: black;
}

#goRight {
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
    background: none;
    transition: 0.5s;
    border: none;
    outline: none;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#goRight:hover {
    background: rgba(255, 255, 255, 0.356);
    cursor: pointer;
    color: black;
}